<span class="badge badge-info">
    {{ field.value|length }}
</span>
{% for value in field.value %}
    {% set url = ea_url()
        .setController('App\\Controller\\Admin\\QueryCrudController')
        .setAction('detail')
        .setEntityId(value.id) %}
    <span class="badge badge-secondary">
        <a href="{{ url }}">{{ value.name }} {{ value.lastname }}</a>
    </span>
{% else %}
    brak
{% endfor %}