{% extends 'base.html.twig' %}

{% block title %}CR GAMA{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 lg:px-16">
        <p class="text-2xl text-center lg:text-4xl lg:text-left text-lime-500 mt-10 mb-8">Jeżeli chcesz, aby montażu regulatora dokonał autoryzowany serwis, wypełnij poniższe pola, a znajdziemy najbliższy.</p>
        <div class="flex flex-col lg:flex-row items-start gap-16">
            <div class="lg:basis-1/2 lg:sticky lg:top-8">
                {{ form_start(form, {'action': path('home'), 'method': 'POST'}) }}
                <p class="font-normal text-2xl my-4">Wpisz swoje dane:</p>
                {{ form_row(form.name) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.email) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.street) }}
                {{ form_row(form.city) }}
                <p class="font-normal text-2xl my-4">Gdzie chcesz zamontować regulator:</p>
                {{ form_row(form.deliveryStreet) }}
                {{ form_row(form.deliveryCity) }}
                {{ form_widget(form.code) }}
                <div class="text-red-400 text-xs -mt-2">
                    {{ form_errors(form.code) }}
                </div>
                <div class="mt-3">
                    {{ form_widget(form.emailConsent) }}
                    <label for="query_emailConsent" class="text-xs ml-1">Zgadzam się na kontakty przedstawicieli spółki Crgama na wskazany adres e-mail w celu przedstawienia oferty lub marketingu.{% if moreInfoUrl is not null %} <a href="{{ moreInfoUrl}}" class="underline hover:text-lime-500 transition" target="_blank">Dowiedz się więcej</a>{% endif %}</label>
                </div>
                <div class="mt-3">
                    {{ form_widget(form.phoneConsent) }}
                    <label for="query_phoneConsent" class="text-xs ml-1">Zgadzam się na kontakty przedstawicieli spółki Crgama na wskazany numer telefonu w celu przedstawienia oferty lub marketingu.{% if moreInfoUrl is not null %} <a href="{{ moreInfoUrl}}" class="underline hover:text-lime-500 transition" target="_blank">Dowiedz się więcej</a>{% endif %}</label>
                </div>
                <div class="mt-3 text-xs">
                    <p>Wysyłając formularz udostępniasz nam Twoje dane osobowe.</p>
                    {% if moreInfoUrl is not null %}
                        <p>Przeczytaj: <a href="{{ moreInfoUrl}}" class="underline hover:text-lime-500 transition" target="_blank">Informacje o przetwarzaniu Twoich danych osobowych przez spółkę Crgama oraz o Twoich uprawnieniach.</a></p>
                    {% endif %}
                </div>
                {{ form_end(form) }}
            </div>
            <div class="lg:basis-1/2">
                {% if results is null %}
                    <p class="text-xl font-medium uppercase text-center mt-10">Brak wyników dla podanego kodu pocztowego.</p>
                {% endif %}
                {% for result in results %}
                    <div class="bg-neutral-200 rounded-3xl p-4 lg:p-10 mb-10">
                        {% if loop.index == 1 %}
                            <p class="text-xl font-medium uppercase mb-10">Poniżej znajdziesz dane autoryzowanego serwisu, który wykona dla Ciebie instalację regulatora napięcia fazowego.</p>
                        {% endif %}

                        <div class="bg-neutral-300 rounded-3xl p-4 lg:p-6">
                            <p class="text-xl text-lime-600 font-medium">Regulator wraz z montażem zostanie zakupiony w poniższym serwisie:</p>
                            <p class="rounded-2xl bg-white py-2 px-4 mt-6">{{ result.name }}</p>
                            <p class="rounded-2xl bg-white py-2 px-4 mt-4">{{ result.street }}</p>
                            <p class="rounded-2xl bg-white py-2 px-4 mt-4">{{ result.city }}</p>
                            <p class="rounded-2xl bg-white py-2 px-4 mt-4">{{ result.email }}</p>
                            <p class="rounded-2xl bg-white py-2 px-4 mt-4">{{ result.phone }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}